spring:
  config:
    import: classpath:application-development-secrets.yaml

---

app:
  security:
    keystore:
      # Create keystore with: keytool -genkey -alias <alias> -keyalg RSA -keystore <profile>-keystore.jks -keysize 2048 -validity 9999
      location: keys/development-keystore.jks
      password: password
      keyAlias: development
      privateKeyPassphrase: password
    # Configure development frontend to run on port 8081
    allowedOrigins: 127.0.0.1:8081,localhost:8081

# Super strong password for development secrets decryption.
jasypt.encryptor.password: password
