spring:
  config:
    import: classpath:application-test-secrets.yaml

---
app:
  security:
    keystore:
      # Create keystore with: keytool -genkey -alias <alias> -keyalg RSA -keystore <profile>-keystore.jks -keysize 2048 -validity 9999
      location: keys/test-keystore.jks
      password: password
      keyAlias: test
      privateKeyPassphrase: password
    allowedOriginPatterns:
      - http://localhost:*
      - http://127.0.0.1:*

# Super strong password for test secrets decryption.
jasypt.encryptor.password: password
