spring:
  config:
    import: classpath:application-development-secrets.yaml

---

app:
  security:
    keystore:
      # Create keystore with: keytool -genkey -alias <alias> -keyalg RSA -keystore <profile>-keystore.jks -keysize 2048 -validity 9999
      location: keys/development-keystore.jks
      password: password
      keyAlias: development
      privateKeyPassphrase: password
    allowedOriginPatterns:
      - http://localhost:*
      - http://127.0.0.1:*

# Super strong password for development secrets decryption.
jasypt.encryptor.password: password
