<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">

  <module name="SuppressionFilter">
    <property name="file" value="plugins/checkstyle-suppressions.xml"/>
    <property name="optional" value="false"/>
  </module>

  <module name="SuppressWarningsFilter" />

  <module name="NewlineAtEndOfFile"/>
  <module name="OrderedProperties"/>
  <module name="UniqueProperties">
    <property name="fileExtensions" value="yaml" />
  </module>

  <module name="FileLength"/>
  <module name="LineLength">
    <property name="max" value="160"/>
    <property name="ignorePattern" value="public class .*"/>
  </module>

  <module name="FileTabCharacter"/>

  <module name="TreeWalker">
    <module name="SuppressionCommentFilter"/>
    <module name="SuppressWarningsHolder" />

    <module name="AnnotationLocation"/>
    <module name="AnnotationUseStyle"/>
    <module name="MissingDeprecated"/>
    <module name="MissingOverride"/>
    <module name="PackageAnnotation"/>

    <module name="AvoidNestedBlocks"/>
    <module name="EmptyBlock"/>
    <module name="EmptyCatchBlock">
      <property name="exceptionVariableName" value="expected|ignore"/>
    </module>
    <module name="LeftCurly"/>
    <module name="NeedBraces"/>
    <module name="RightCurly"/>

    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    <module name="MutableException"/>
    <module name="OneTopLevelClass"/>
    <module name="ThrowsCount"/>
    <module name="VisibilityModifier"/>

    <module name="ArrayTrailingComma"/>
    <module name="AvoidDoubleBraceInitialization"/>
    <module name="AvoidNoArgumentSuperConstructorCall"/>
    <module name="CovariantEquals"/>
    <module name="DeclarationOrder"/>
    <module name="DefaultComesLast"/>
    <module name="EmptyStatement"/>
    <module name="EqualsAvoidNull"/>
    <module name="EqualsHashCode"/>
    <module name="ExplicitInitialization"/>
    <module name="FallThrough"/>
    <!-- <module name="FinalLocalVariable"/> -->
    <module name="HiddenField">
      <property name="ignoreConstructorParameter" value="true"/>
      <property name="ignoreSetter" value="true"/>
    </module>
    <module name="IllegalCatch"/>
    <module name="IllegalInstantiation"/>
    <module name="IllegalThrows"/>
    <module name="IllegalToken"/>
    <!--<module name="IllegalType"/> -->
    <module name="InnerAssignment"/>
    <module name="MagicNumber"/>
    <!--<module name="MissingCtor"/> -->
    <module name="MissingSwitchDefault"/>
    <module name="ModifiedControlVariable"/>
    <module name="MultipleStringLiterals">
      <property name="allowedDuplicates" value="2"/>
    </module>
    <module name="MultipleVariableDeclarations"/>
    <module name="NestedForDepth"/>
    <module name="NestedIfDepth"/>
    <module name="NestedTryDepth"/>
    <!-- <module name="NoArrayTrailingComma"/> -->
    <module name="NoClone"/>
    <module name="NoEnumTrailingComma"/>
    <module name="NoFinalizer"/>
    <module name="OneStatementPerLine"/>
    <module name="OverloadMethodsDeclarationOrder"/>
    <module name="PackageDeclaration"/>
    <module name="ParameterAssignment"/>
    <module name="RequireThis">
      <property name="validateOnlyOverlapping" value="false"/>
      <property name="checkMethods" value="false"/>
    </module>
    <module name="ReturnCount">
      <property name="max" value="6"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="SuperClone"/>
    <module name="SuperFinalize"/>
    <module name="UnnecessaryParentheses"/>
    <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
    <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
    <module name="UnnecessarySemicolonInEnumeration"/>
    <module name="UnnecessarySemicolonInTryWithResources"/>
    <!-- <module name="VariableDeclarationUsageDistance"/> -->

    <module name="AvoidStarImport"/>
    <module name="AvoidStaticImport">
      <property name="excludes" value="org.junit.jupiter.api.Assertions.*,org.mockito.Mockito.*"/>
    </module>
    <!-- <module name="CustomImportOrder"/> -->
    <module name="IllegalImport"/>
    <!-- <module name="ImportControl"/> -->
    <!-- <module name="ImportOrder"/> -->
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>

    <module name="AtclauseOrder"/>
    <module name="InvalidJavadocPosition"/>
    <module name="JavadocBlockTagLocation"/>
    <module name="JavadocContentLocationCheck"/>
    <module name="JavadocMethod"/>
    <module name="JavadocMissingWhitespaceAfterAsterisk"/>
    <!-- <module name="JavadocPackage"/> -->
    <!-- <module name="JavadocParagraph"/> -->
    <module name="JavadocStyle"/>
    <module name="JavadocTagContinuationIndentation"/>
    <module name="JavadocType"/>
    <!-- <module name="JavadocVariable"/> -->
    <!-- <module name="MissingJavadocMethod"/> -->
    <!-- <module name="MissingJavadocPackage"/> -->
    <!-- <module name="MissingJavadocType"/> -->
    <module name="NonEmptyAtclauseDescription"/>
    <module name="RequireEmptyLineBeforeBlockTagGroup"/>
    <!-- <module name="SingleLineJavadoc"/> -->
    <module name="SummaryJavadocCheck"/>
    <!-- <module name="WriteTag"> -->

    <module name="BooleanExpressionComplexity"/>
    <module name="ClassDataAbstractionCoupling"/>
    <module name="ClassFanOutComplexity">
      <property name="max" value="22"/>
    </module>
    <module name="CyclomaticComplexity"/>
    <module name="JavaNCSS"/>
    <module name="NPathComplexity"/>

    <module name="ArrayTypeStyle"/>
    <module name="AvoidEscapedUnicodeCharacters"/>
    <module name="CommentsIndentation"/>
    <!-- <module name="DescendantToken"> -->
    <!-- <module name="FinalParameters"/> -->
    <module name="Indentation"/>
    <module name="NoCodeInFile"/>
    <module name="OuterTypeFilename"/>
    <!-- <module name="TodoComment"/> -->
    <module name="TrailingComment"/>
    <!-- <module name="Translation"/> -->
    <!--
    <module name="UncommentedMain">
      <property name="excludedClasses" value="\.D11BootApplication$"/>
    </module>
    -->
    <module name="UpperEll"/>

    <module name="ClassMemberImpliedModifier" />
    <!-- <module name="InterfaceMemberImpliedModifier"/> -->
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>

    <module name="AbbreviationAsWordInName"/>
    <module name="AbstractClassName"/>
    <module name="CatchParameterName"/>
    <module name="ClassTypeParameterName"/>
    <module name="ConstantName"/>
    <module name="IllegalIdentifierName"/>
    <module name="InterfaceTypeParameterName"/>
    <module name="LambdaParameterName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="MethodTypeParameterName"/>
    <module name="PackageName">
      <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
    </module>
    <module name="ParameterName"/>
    <module name="PatternVariableName"/>
    <module name="RecordTypeParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>

    <module name="AnonInnerLength"/>
    <module name="ExecutableStatementCount">
      <property name="max" value="35"/>
    </module>
    <module name="MethodCount">
      <property name="maxTotal" value="30"/>
    </module>
    <module name="MethodLength"/>
    <module name="OuterTypeNumber"/>
    <module name="ParameterNumber"/>
    <!-- <module name="RecordComponentNumber"/> -->

    <module name="EmptyForInitializerPad"/>
    <module name="EmptyForIteratorPad"/>
    <module name="EmptyLineSeparator">
      <property name="tokens" value="PACKAGE_DEF, IMPORT, STATIC_IMPORT, CLASS_DEF, INTERFACE_DEF, ENUM_DEF,
                                     STATIC_INIT, INSTANCE_INIT, METHOD_DEF, CTOR_DEF, RECORD_DEF, COMPACT_CTOR_DEF"/>
    </module>
    <module name="GenericWhitespace"/>
    <module name="MethodParamPad"/>
    <module name="NoLineWrap"/>
    <module name="NoWhitespaceAfter"/>
    <module name="NoWhitespaceBefore"/>
    <!-- <module name="OperatorWrap"/> -->
    <module name="ParenPad"/>
    <module name="SeparatorWrap">
      <property name="tokens" value="COMMA"/>
    </module>
    <module name="SingleSpaceSeparator"/>
    <module name="TypecastParenPad"/>
    <module name="WhitespaceAfter">
      <property name="tokens" value="COMMA, SEMI, TYPECAST"/>
    </module>
    <!-- <module name="WhitespaceAround"/> -->
  </module>

</module>
